.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
  border: 1px solid;
  width: 50%;
  height: 50%;
  min-height: 400px;
  padding: 2px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  
}

.loginForm{
  width: 100%;
  height: 100%;
  padding: 2%;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav{
  border-bottom: 0;
}

.nav a{
  width: 25%;
  /* border-radius: 10px 10px 0 0; */
  text-align: center;
  font-size: 1.5rem;
}

.nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: lightblue;
  /* border-radius: 2rem 2rem 0 0; */
  outline: none;
}

.nav-item [aria-selected="true"]{
  background-color: lightblue;
}

.tab-content>.active{
  opacity: 1;
  background-color: lightblue;
}

.tab-content{
  height: 100%;
  
}

.tab-pane{
  height: 100%;
  /* border-radius: 0 0 2rem 2rem; */
  padding-top: 20px;
  padding: 20px  15% 0 15%;
}

.form-label{
  font-size: 1.2rem;
}