
.app{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.login-signup-div{
  /* background-color:black; */
  border: 1px solid gray;
  width: 60%;
  min-width: 500px;
  height: 60%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-content>.active{
opacity: 1;
}

.signup-container, .login-container {
    max-height: 65vh;
    overflow-y: auto;
}
.nav{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  height: 10%;
}

.nav a{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  color: black
}

.nav a[aria-selected="true"]{
  background: black;
  color: white
}

.signupForm{
  display: flex;
  flex-direction: column;
}

.loginForm{
  display: flex;
  flex-direction: column;
}

.tab-content{
  width: 90%;
}

label{
  padding: 10px;
  padding-left: 0
}

input{
  padding: 10px;
}

.submitBtn{
  margin-top: 5%;
  background-color: #000;
  color: #fff;
}

.signupToggle{
  padding-top: 2%;
  color:black
}
